@import "colores";
@import "bordes";
@import "padding_margin";

/* ----------------------NOSOTROS -------------------------*/
.row-psicologos {
    display: -webkit-flex;
    display: flex;
  }
  
  /*------------------ columnas ----------------------*/
  .column-psicologos {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: $p_10;
    height: 260px; 
    background-color: $violeta;
    border-radius: $borderradio;
    margin: $p_10;
    text-align: center;
    font-size: large;
    
  }

  

/*----------------------------servicios------------------------*/


.row-servicios {
    display: flex;
    align-items: center;
  }
  
  
  .column-servicios {
  -ms-flex: 1;
  flex: 1;
  flex-wrap: wrap;
  padding: $p_10;
  height: 300px; 
  background-color: $violeta;
  border-radius: $borderradio;
  margin: $p_10;
  text-align: center;
  font-size: large;
    
  }
  
  